body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-size {
    display: flex;
}

.board {
    display: grid;
    width: 500px;
    height: 500px;
    border: 1px solid orangered;
    margin-bottom: 2em;
    background: rgb(235, 135, 99);
}

.sq {
    border: thin solid rgb(230, 102, 55);
}

.space {
    margin-left: 3em;
}

.get-size {
    margin-bottom: 1em;
}

.click-message-on, .click-message-off {
    color: green;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
}

.click-message-off {
    color: red
}

.error-message {
    margin-top: 2em;
    margin-bottom: 0.2em;
    font-size: 18px;
    font-style: italic;
    color: brown;
}